extends layout

block content
    script(src="/javascripts/jquery-2.1.4.min.js")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    div(data-role="page")
        div(data-role="header")
            div(style="text-align: center;")
                img(src="/images/eCUPT.png")
        div(data-role="content")
            div.main-agileits
                div.form-w3-agile
                    h2 Attivazione Account
                    p.txt-center(style="color: white;") Il tuo account è stato verificato correttamente. Ora è possibile utilizzare i servizi e-CUPT.
        div(data-role="footer")
            div(style="text-align: center; padding: 20px;")
                h2(style="color: white;") Powered By
                img#logoAk12(src="/images/logoak12.png" height=100 width=300)