doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css', type="text/css", media="all")
    link(rel='stylesheet', href='/stylesheets/popuo-box.css')
    link(rel='stylesheet', href='/stylesheets/styleModPassw.css')
    link(href="//fonts.googleapis.com/css?family=Oswald:400,700", rel="stylesheet")
    link(href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700", rel="stylesheet")
  body
    block content
